
<table class="table table-striped p-3">
    <thead>
        <tr>           
            <th style="width: 50%">Issue</th>
            <th style="width: 15%">Created</th>
            <th style="width: 25%">Resolution</th>  
            <th style="width: 10%">Active</th>       
        </tr>
    </thead>
    <tbody>
        @foreach(var t in Model.Queries) {
            <tr>              
                <td>@t.Issue</td>
                <td>@t.CreatedOn</td>
                <td>@t.Resolution</td> 
                <td>
                    @* use asp-condition tag helper to remove need for @if/else razor block *@
                    <i asp-condition="@t.Active" class="bi bi-toggle-on"></i>
                    <i asp-condition="@(!t.Active)" class="bi bi-toggle-off"></i>                   
                </td>
            </tr>   
        }
    </tbody>
</table>